@use 'normalize';

$phoneWidth: 450px;

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;

  @media (max-width: $phoneWidth) {
    font-size: 1.3em;
  }
}

header, main, footer {
  width: 75%;
  margin: 20px auto;
  padding: 20px;
}

header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5rem;
  padding-top: 30px;
  border-bottom: 0.5rem solid #666;

  @media (max-width: $phoneWidth) {
    font-size: 3rem;
  }

  a {
    color: #000;
    text-decoration: none;
  }

  nav {
    font-size: 1.2rem;
    padding: 30px 0 10px 0;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      @media (min-width: $phoneWidth) {
        display: flex;
      }

      li {
        padding: 10px;

        @media (min-width: $phoneWidth) {
          flex-grow: 4;
        }
      }
    }
  }
}

main {
  line-height: 1.7em;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  border-top: 0.5rem solid #666;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

a {
  color: #111;

  &:hover {
    color: #666;
    text-decoration: none;
  }
}

article {
  h1 {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

p {
  &.publish-date {
    color: #888;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}
