@use 'normalize';

body {
  font-family: Helvetica, Arial, sans-serif;
}

header, main, footer {
  width: 75%;
  margin: 20px auto;
  padding: 20px;
}

header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5rem;
  padding: 10px;
  border-bottom: double #EEE;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  border-top: double #EEE;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}
