@use 'normalize';

body {
  font-family: Helvetica, Arial, sans-serif;
}

header, main, footer {
  width: 75%;
  margin: 20px auto;
  padding: 20px;
}

header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5rem;
  padding: 10px;
  border-bottom: 0.5rem solid #666;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  border-top: 0.5rem solid #666;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

a {
  color: #111;

  &:hover {
    color: #666;
    text-decoration: none;
  }
}
