---
layout: layout.njk
title: About me
description: I'm a US-based software engineer. JavaScript/TypeScript, Python, Clojure, Rust, Kubernetes, containers, SRE, Linux.
---

<h1>About me</h1>

<p>I'm a US-based software engineer. Here, have some buzzwords: Node.js,  TypeScript, Python, Elasticsearch, Kubernetes, containers, Linux. Programming language nerd, currently dabbling with Lua, Clojure and Rust. Big fan of open source (and <a href="https://en.wikipedia.org/wiki/Free_software">free as in freedom</a>, when possible) software. Currently running <a href="https://archlinux.org/">Arch</a> as my daily driver, which I am obligated to announce whenever possible. Experimenting with immutable distros, currently in Fedora Atomic. <a href="https://hyprland.org/">Hyprland</a> is my WM, <a href="https://neovim.io/">Neovim</a> in a terminal emulator is my IDE.</p>
<p>Not a fan of capitalism, cryptocurrency, fascism, racism, sexism or the current state of American politics. Would love to expat to Ireland someday.</p>
<p>Seeking ways to use tech to support a more equitable future. Interested in p2p, decentralization, federation, and shared protocols as alternatives to centralized, ad-driven, algorithm-powered services. I prefer to self-host things in my homelab when viable open source options exist.</p>
<p>A longtime music enthusiast and occasional <a href="https://lateral-am.bandcamp.com/">musician</a>. Guitar, drums, esoteric electronics and computer-based music with Pure Data and VCV Rack. I DJed a weekly music show on <a href="https://wxnafm.org">WXNA</a>&mdash;a low-power FM, community-organized radio station in Nashville&mdash;for 7.5 years until very recently.</p>
<p>Also a husband/partner, parent to three kids, and dog-parent to three rescue dogs.</p>

<h2 id="find-me">Where else to find me</h2>

<p>Some of these places are listed in the navigation, but for the sake of completeness:</p>

<ul>
<li>Email: <a href="mailto:josh@joshmock.com" rel="me">josh@joshmock.com</a>
<li>Matrix: <a href="https://matrix.to/#/@joshmock:matrix.joshmock.com" rel="me">@joshmock:matrix.joshmock.com</a></li>
<li>Secure Scuttlebutt: <code>@BQpg9TE5zjMQTS1JG/bN0Mq01ss1WbT70zLSScYY0Vg=.ed25519</code></li>
<li>Instagram: <a href="https://instagram.com/joshmock" rel="me">@joshmock</a></li>
<li>Github: <a href="https://github.com/JoshMock" rel="me">@JoshMock</a></li>
<li>Mastodon: <a href="https://mastodon.social/@joshmock" rel="me">@joshmock@mastodon.social</a></li>
<li>Bluesky: <a href="https://bsky.app/profile/joshmock.com" rel="me">joshmock.com</a></li>
<li><a href="https://bandcamp.com/joshmock" rel="me">Bandcamp personal profile</a></li>
<li><a href="https://lateral-am.bandcamp.com/" rel="me">Bandcamp artist profile</a></li>
</ul>
