---
layout: layout.njk
title: About me
description: US-based software engineer. Python, JavaScript, Clojure, Rust, Kubernetes, containers, devops, SRE, Linux, Neovim, i3wm. Currently running Arch as my daily driver, which I am obligated to announce whenever possible.
---

<h1>About me</h1>

<p>I'm a US-based software engineer. Here, have some buzzwords: Python, JavaScript (mostly Node.js, recovering front-end React/Redux), Clojure, Rust, Kubernetes, containers, devops, SRE, Linux, Neovim, i3wm. Currently running <a href="https://archlinux.org/">Arch</a> as my daily driver, which I am obligated to announce whenever possible.</p>
<p>Not a fan of capitalism, cryptocurrency, fascism, racism, sexism or the current state of American politics. Would love to expat to Ireland someday.</p>
<p>Seeking ways to use tech to support a more equitable future. Intrigued at whether that can be done using p2p, decentralization, federation, and shared protocols instead of centralized, ad-driven, algorithm-powered services. Often tempted to self-host when viable open source options exist.</p>
<p>A longtime music enthusiast and occasional <a href="https://lateral-am.bandcamp.com/">musician</a>. Guitar, drums, esoteric electronics and computer-based music with Pure Data and VCV Rack. I DJ a weekly show on WXNA, a low-power FM, community-organized radio station in Nashville.</p>
<p>Also a husband and a parent to two kids, three dogs, several chickens, and a large vegetable garden where we’re slowly learning the art of permaculture.</p>

<h2 id="find-me">Where else to find me</h2>

<p>Some of these places are listed in the navigation, but for the sake of completeness:</p>

<ul>
<li>Email: <a href="mailto:josh@joshmock.com" rel="me">josh@joshmock.com</a>
<li>Matrix: <a href="https://matrix.to/#/@joshmock:matrix.joshmock.com" rel="me">@joshmock:matrix.joshmock.com</a></li>
<li>Secure Scuttlebutt:
  <ul>
  <li>mobile (Manyverse): <code>@BQpg9TE5zjMQTS1JG/bN0Mq01ss1WbT70zLSScYY0Vg=.ed25519</code></li>
  <li>mobile (Planetary): <code>@sORuKyyDV63KSx/CyzDecWqGITsZh+1WX1eTouXWZiQ=.ed25519</code></li>
  <li>desktop (Manyverse): <code>@T9PIhS1dO2nWA/S1bnI3Kwzw/gEh3pdDN6PQ6ce2HlM=.ed25519</code></li>
  </ul>
</li>
<li>Twitter: <a href="https://twitter.com/joshmock" rel="me">@joshmock</a></li>
<li>Instagram: <a href="https://instagram.com/joshmock" rel="me">@joshmock</a></li>
<li>Github: <a href="https://github.com/JoshMock" rel="me">@JoshMock</a></li>
<li>Mastodon: <a href="https://mastodon.social/@joshmock" rel="me">@joshmock@mastodon.social</a></li>
<li><a href="https://bandcamp.com/joshmock" rel="me">Bandcamp personal profile</a></li>
<li><a href="https://lateral-am.bandcamp.com/" rel="me">Bandcamp artist profile</a></li>
<li><a href="https://www.wxnafm.org/shows/loveless-in-nashville" rel="me">WXNA radio show</a></li>
</ul>
