---
layout: layout.njk
---

{%- for post in collections.post -%}
<article>
  <h1><a href="{{ post.url }}">{{ post.data.title }}</a></h1>
  {{ post.templateContent | safe }}
  <p class="publish-date">published {{ post.date | simpleDate }}</p>
</article>
{%- endfor -%}
