---
layout: layout.njk
---

<h1>This is a work in progress</h1>

<p>I'm trying to <a href="https://indieweb.org">own my own data and divest from social media</a>. This site&mdash;clearly an unfinished (or, you know, barely started) project&mdash;is an expression of that.</p>

<h2>Some places to find me in the meantime</h2>

<ul>
  <li><a href="https://www.wxnafm.org/shows/loveless-in-nashville">My weekly radio show on WXNA</a></li>
  <li><a href="https://lateral-am.bandcamp.com">My music on Bandcamp</a></li>
  <li><a href="https://twitter.com/joshmock">Twitter</a></li>
  <li><a href="https://instagram.com/joshmock">Instagram</a></li>
</ul>
